<div id="form">

  <h2>Registro</h2>
  
  <form action="/registro" method="POST">
 
    <label> Usuario
      <input type="text" name="usuario" placeholder="Nombre de usuario" />
    </label>
 
    <label> Correo:
      <input type="email" name="correo" placeholder="Correo electr칩nico" />
    </label>
 
    <label> Contrase침a:
      <input type="password" name="contrase침a" placeholder="Contrase침a" />
    </label>
 
    <button type="submit">Crear cuenta</button>
 
    {{#if msj}} 
   {{!-- si existe el error de mensaje --}}
       <p class="error">{{msj}}</p>
       {{/if}}
  </form>
</div>n