

<h1>Preguntas frecuentes</h1>


<ul> 
    <li><h3>¿Los equipos cuentan con garantía?</h3></li><br>
    <p>Todos nuestros productos cuenta con garantía inmediata o cambio físico, dentro del primer mes de su compra</p>
    <li><h3>¿Se puede hacer pago contra entrega?</h3></li><br>
    <p>Si, solo con productos.</p>
    <li><h3>¿Los envíos son gratis?</h3></li><br>
    <p>Si, todos los productos cuentan con servicio de entrega gratuito.</p>


</ul>