<h1> Categorías </h1>



{{#each categoria}}

<a href="/categoria/{{this._id}}">
    {{!-- <a href="https://www.github.com"> --}}

        <section class="container">
            <div>
                <article class="service-box">
                    <img src="{{this.image}}" alt="{{this.nombre}}" />
                    <h2>{{this.nombre}}</h2>

                </article>
            </div>
        </section>
    </a>
    {{/each}}


    <a href="/perfilusuario">Ir atrás</a>
    <hr />