<h1>Contacto</h1>


<h4>Sucursales</h4>
<address class="addres">Portales</address><br>
Bélgica 909, Portales Sur, 03300, CDMX<br><br>

<address class="addres">Azcapotzalco</address><br>
San Franciso 5, San Fracisco Tetecala, Azcapotzalco, 02730, CDMX
<h4>Telefonos:</h4>
<ul>
    <li> +53 55 1319 2695</li><br>
    <li> +53 55 1319 2695</li>
</ul>

<h4>Síguenos</h4>
<ul>
    <li><a href="#">Facebook</a></li><br>
    <li><a href="#">Instagram</a></li><br>
    <li><a href="#">ClaroShop</a></li><br>
</ul>