
<div
    class="p-5 text-center bg-image"style="background-image: url('https://scottdenholm.com/wp-content/uploads/2017/08/laptop-wallpaper_mock_they-called-it-paradise_scott-denholm-art.jpg');
      height: 400px;">
    <div class="mask" style="background-color: rgba(199, 194, 194, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Encuentra todo lo que buscas</h1>
          <h4 class="mb-3">Por un precio más barato</h4>
          
        </div>
      </div>
    </div>
  </div>
