<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="nav-bar">

    <a href="/"> FREEBUY.COM.MX </a>
    <div>
      <a href="/nosotros">Nosotros</a> <span> | </span>
      <a href="/contacto">Contacto</a>
    </div>

  </nav>
{{!-- 
  <a href="https://api.whatsapp.com/send?phone=+525513192695&text=¡Hola!%20dejanos%20tu%20mensaje,%20nosotros%20responderemos%20en%20breve."><img
      src="images/whatsapp1.png " width="25px" height="25px"></a> --}}
  {{#if usuarioActual }}
  <nav>
    <ul>
      <li id="to-right">
        <a href="/perfilusuario">Mi perfil</a> <span> | </span>


        <a href="/miscompras">Mis compras</a> <span> | </span>
        <a href="/carrito"><img src="/images/shopping-cart.png" alt="carrito logo" width="25px" height="25px"></a>
        <span> | </span>

        <a href="/salir">Cerrar Sesión</a>
        {{!-- Qué necesita para funcionar el form, POST --}}


      </li>
      <li id="to-left">
        <a href="/categoria">Categorías</a> <span> | </span>
        <a href="/ayuda">Ayuda</a>
      </li>

      {{else}}
      <li id="to-right">
        <a href="/registro">Registrarse</a> <span> | </span>
        <a href="/acceso">Iniciar sesión</a>
        {{/if}}
      </li>
    </ul>
  </nav>



  {{{body}}}
  <script src="/javascripts/script.js"></script>

  
</body>


</html>