<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shorcut icon" href="/images/logo.png">
</head>
 

<body>
  <nav class="nav-bar">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

   
<header>

   
<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <div class="container-fluid">

        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="brand logo"
                            ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{#if usuarioActual }}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/perfilusuario">Mi perfil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-primary" href="/categoria" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/categoria/6101e1c9c25ecc14bf7b57b1">All in one</a></li>
                        <li><a class="dropdown-item" href="/categoria/6101e1c9c25ecc14bf7b57b2">CPU's</a></li>
                        <li><a class="dropdown-item" href="/categoria/6101e1c9c25ecc14bf7b57b3">Disco duro</a></li>
                        <li><a class="dropdown-item" href="/categoria/6101e1c9c25ecc14bf7b57b4">Laptops</a></li>
                        <li><a class="dropdown-item" href="/categoria/6101e1c9c25ecc14bf7b57b5">Monitores</a></li>
                        <li><a class="dropdown-item" href="/categoria/6101e1c9c25ecc14bf7b57b6">Proyectores</a></li>
                        <li><a class="dropdown-item" href="/categoria/6101e1c9c25ecc14bf7b57b7">Smarthphones</a></li>
                        <li><a class="dropdown-item" href="/categoria/6101e1c9c25ecc14bf7b57b8">Tabletas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/categoria">All</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ayuda">Ayuda</a>
                </li>

  </nav>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Producto..." aria-label="Search">
                <button class="btn btn-outline-success text-primary" type="submit">Buscar</button>
            </form>


            
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/carrito"><img src="/images/shopping-cart.png" alt="carrito logo"
                            width="25px" height="25px"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-primary" href="/salir">Cerrar Sesión</a>
                </li>
            </ul>

        </div>
        {{else}}


        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active text-primary" aria-current="page" href="/registro">Registrarse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-primary" aria-current="page" href="/acceso">Iniciar sesión</a>
             </li>

      </li>
      <li id="to-left">
        <a href="/contacto">Contacto</a> <span> | </span>
        <a href="/ayuda">Ayuda</a>
      </li>

  

           {{/if}}

        </ul>
    </div>
</nav>



</header>
<body>
  {{{body}}}
  <script src="/javascripts/script.js"></script>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 








</body>



<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Síguenos a través de nuestras redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/LuisaMinej"
        role="button"
        ><i class="fab fa-facebook-f"></i>Facebook</a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com/?lang=es"
        role="button"
        ><i class="fab fa-twitter"></i
      >Twitter</a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="https://www.google.com/"
        role="button"
        ><i class="fab fa-google"></i
      >Google</a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/?hl=es"
        role="button"
        ><i class="fab fa-instagram"></i
      >Instagram</a>


    </section>
    <!-- Section: Social media -->
  </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
          <a href="/categoria">Categorias</a>
          </h6>
          <p>
            <a href="/categoria/6101e1c9c25ecc14bf7b57b1" class="text-reset">All in one</a>
          </p>
          <p>
            <a href="/categoria/6101e1c9c25ecc14bf7b57b2" class="text-reset">CPU's</a>
          </p>
          <p>
            <a href="/categoria/6101e1c9c25ecc14bf7b57b3" class="text-reset">Disco duro</a>
          </p>
          <p>
            <a href="/categoria/6101e1c9c25ecc14bf7b57b4" class="text-reset">Laptops</a>
          </p>
          <p>
            <a href="/categoria/6101e1c9c25ecc14bf7b57b5" class="text-reset">Monitores</a>
          </p>
          <p>
            <a href="/categoria/6101e1c9c25ecc14bf7b57b6" class="text-reset">Proyectores</a>
          </p>
          <p>
            <a href="/categoria/6101e1c9c25ecc14bf7b57b7" class="text-reset">Smarthphones</a>
          </p>
          <p>
            <a href="/categoria/6101e1c9c25ecc14bf7b57b8" class="text-reset">Tabletas</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Más
          </h6>

            <a href="/contacto" class="text-reset">Contacto</a>
          </p>
          <p>
            <a href="/ayuda" class="text-reset">Ayuda</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3"></i> Bélgica 909, Portales Sur, 03300, CDMX</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            compras@freebuy.com.mx
          </p>
          <p><i class="fas fa-phone me-3"></i> +53 55 1319 2695</p>
          <p><i class="fas fa-print me-3"></i> +53 55 1319 2695</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://frebuy.com.mx/">frebuy.com.mx</a>
  </div>
  <!-- Copyright -->
</footer>


</html>