<h1>Nosotros</h1>

<p>
    Freebuy Empresa dedicada a llevar hasta sus manos el mejor equipo de computo empresarial, con los más altos estándares de calidad y durabilidad en el mercado al mejor precio, con un amplio equipo de soporte técnico para resolver sus dudas. 
</p>
<p>
    Contamos con un amplio catálogo de más de 2000 equipos en las marcas como DELL HP LENOVO MAC  en equipo de escritorio así como portátil y tablet's.
</p>