body {
  background-color: #4646ea;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 2em;
  color: yellow;
  font-family: 'Staatliches', cursive;
}

.navbar-brand:hover {
  color: yellow;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color:tomato;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;

}
.nav-link:hover {
  color: white;
}

.search {
  height: 40px;
  width: 80% ;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  font-family: 'Oswald', sans-serif;
  border: 2px solid gray
}

.btn0{
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background-color: red;
  color:gray;
  border-radius: 60px;
  font-weight: 700;

}

/* acceder */

.login {
  margin: 0;
  padding: 0;
  background-color: #4646ea;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #edbc0d;
  background-color: #edbc0d;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 200vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}
.view,body,html{height:100%}.carousel{height:100%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.page-footer{background-color:#929FBA}