{{#if usuarioActual}}
  <h2>Bienvenido, {{ usuarioActual.usuario }}!</h2>
  <p>Mi perfil</p>
  <button>
    <a href="/perfilusuario">Recargar la página</a>
  </button>

<br>
<br>
<button>
    <a href="/categoria">Categorías</a>
  </button>

{{else}}
  <p>Todavía no hay un usuario registrado</p>
{{/if}}